.personal {
  &-results {
    padding: 32px 10px 26px 10px;
    text-align: center;

    @media(max-width: 360px) {
      padding: 25px 10px;
    }

    &-list {
      justify-content: center;
      flex-wrap: wrap;
    }

    &-weight {
      font-size: 56px;
      margin-bottom: 5px;

      @media(max-width: 360px) {
        font-size: 40px;
      }

      span {
        font-size: 14px;
        font-weight: 600;
        position: relative;
        right: 10px;
      }
    }

    &-date {
      font-size: 12px;

      @media(max-width: 360px) {
        margin-bottom: 20px;
      }
    }

    &-weighting {
      margin-bottom: 26px;
      line-height: 1;
    }

    &-info {
      max-width: 33.3%;
      flex: 0 0 33.3%;
      padding: 6px 4px;
      line-height: 1;

      &-weight {
        font-size: 24px;
        margin-bottom: 8px;
        line-height: 1;

        @media(max-width: 360px) {
          font-size: 20px;
        }
      }

      &-progress {
        font-size: 12px;
        padding-left: 16px;
        position: relative;

        @media(max-width: 360px) {
          padding-left: 13px;
        }

        &.plus {
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 12px;
            height: 16px;
            background: url(../images/icon/green-status.svg) center no-repeat;
            background-size: contain;
          }
        }

        &.minus {
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 12px;
            height: 16px;
            background: url(../images/icon/red-status.svg) center no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }

  &-wrapper {
    position: relative;
    padding-top: 58px;
    margin-bottom: 56px;

    @media(max-width: 360px) {
      margin-bottom: 70px;
    }

    &-content {
      position: relative;
      z-index: 2;
      justify-content: space-between;
      margin-bottom: 15px;
      align-items: center;
    }

    &-img {
      line-height: 0;
    }
  }

  &-statistics {
    padding: 24px 10px;

    &-summary {
      margin-bottom: 24px;
    }

    &-chart {
      max-width: 329px;
      width: 100%;
      margin: 0 auto;

      canvas {
        width: 100% !important;
        height: 100% !important;
      }
    }

    &-progress {
      position: relative;
      text-align: center;
      margin-bottom: 23px;
      max-width: 296px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 15px;
      min-height: 145px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-top: 24px;

      svg {
        // fill: #DADADA;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        max-width: 100%;
        max-height: 100%;
        z-index: 0;
      }

      .sector-1, .sector-2, .sector-3, .sector-4, .sector-5 {
        fill: #DADADA;

        &.fill-red {
          fill: $badResult;
        }

        &.fill-orange {
          fill: $mediocreResult;
        }

        &.fill-green {
          fill: $goodResult;
        }
      }
    }

    &-info {
      max-width: 200px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      line-height: 1;
    }

    &-icon {
      margin-bottom: 6px;
      line-height: 0 ;
    }

    &-title {
      font-weight: 600;
      margin-bottom: 8px;
      font-size: 14px;

      &.red {
        color: $badResult;
      }

      &.green {
        color: $goodResult;
      }

      &.orange {
        color: $mediocreResult;
      }
    }

    &-subtitle {
      font-size: 40px;
      line-height: 1;

      span {
        font-size: 12px;
        line-height: 1.2;
      }
    }

    &-desc {
      font-size: 12px;
    }

    &-summary {
      text-align: center;
      margin-bottom: 8px;
    }

    &-txt {
      margin-bottom: 16px;
      color: $grey;
    }

    &-total {
      margin-bottom: 4px;
    }

    &-group {
      font-size: 12px;
    }
  }

  &-bg {
    &-gradient {
      position: absolute;
      width: 108%;
      bottom: -5px;
      left: 0;
      height: calc(100% + 60px);
      transform: rotate(-8deg);
      border-radius: 24px;
      background: linear-gradient(90deg, #E64A70 0%, #B44AE6 102.15%);
      z-index: 0;

      @media(max-width: 430px) {
        width: 112%;
      }
    }

    &-black {
      position: absolute;
      width: 82%;
      bottom: -5px;
      left: 2px;
      height: calc(100% - 110px);
      transform: rotate(-4deg);
      border-radius: 24px;
      background: $black;
      z-index: 1;
    }
  }
}

.base-style {
  background: #fff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  margin-bottom: 8px;
}