.ui {
  &-txt {
    &.large {
      font-size: 24px;
      line-height: 1;
    }

    &.small-bold {
      font-size: 14px;
      font-weight: 600;
    }

    &.caption {
      font-size: 12px;
    }
  }

  &-link {
    color: #fff;
    padding-left: 30px;
    font-size: 14px;
    position: relative;
    font-weight: 600;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -5px;
      width: 24px;
      height: 24px;
      background: url(../images/icon/arrow-back.svg) center/contain no-repeat;
    }
  }

  &-bg{
    &-gradient {
      position: absolute;
      width: 108%;
      top: -50px;
      left: 0;
      height: 484px;
      transform: rotate(-8deg);
      border-radius: 24px;
      background: linear-gradient(90deg, #E64A70 0%, #B44AE6 102.15%);
      z-index: 0;
    }

    &-black {
      position: absolute;
      width: 82%;
      top: 126px;
      left: 10px;
      height: 305px;
      transform: rotate(-4deg);
      border-radius: 24px;
      background: $black;
      z-index: 1;
    }
  }
}